[mysqld]
connect_timeout = 120
default-storage-engine = INNODB
innodb_buffer_pool_instances = 2
innodb_buffer_pool_size = 2G
innodb_file_per_table=1
innodb_log_file_size = 256M
key_buffer_size = 64M
log-error=/var/lib/mysql/ded4936.inmotionhosting.com.err
max_allowed_packet = 256M
max_connections = 500
max_heap_table_size = 256M
max_user_connections = 250
myisam_sort_buffer_size = 32M
net_buffer_length = 16K
open_files_limit=11000
performance-schema=1
query_cache_limit = 0
query_cache_size = 0
query_cache_type = 0
read_buffer_size = 1M
read_rnd_buffer_size = 1M
skip-external-locking
sort_buffer_size = 1M
table_open_cache = 1024
thread_cache_size = 8
tmp_table_size = 256M
tmpdir = /var/lib/mysql/tmp
wait_timeout = 1800
