[mysqld]
log-error=/var/lib/mysql/ded4936.inmotionhosting.com.err
performance-schema=1
max_connections = 500
max_user_connections = 250
query_cache_size = 0
query_cache_limit = 0
skip-external-locking
key_buffer_size = 64M
max_allowed_packet = 256M
table_open_cache = 1024
sort_buffer_size = 1M
net_buffer_length = 16K
read_buffer_size = 1M
read_rnd_buffer_size = 1M
myisam_sort_buffer_size = 32M
innodb_file_per_table=1
tmp_table_size = 256M
max_heap_table_size = 256M
thread_cache_size = 8
wait_timeout = 1800
connect_timeout = 120

# This setting allows the use of asynchronous I/O in InnoDB.
# The following files track usage of this resource:
# - /proc/sys/fs/aio-max-nr
# - /proc/sys/fs/aio-nr
# Default limit is 65536, of which a single instance of mysql uses 2661 out of the box
#innodb_use_native_aio = 1
open_files_limit=11000
innodb_buffer_pool_size=134217728
default-storage-engine=MyISAM

query_cache_type = 0
innodb_buffer_pool_size = 2G
innodb_log_file_size = 256M
innodb_buffer_pool_instances = 2

tmpdir = /var/lib/mysql/tmp
