# 2020-05-26 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
[mysqld]
connect_timeout = 120
default-storage-engine = INNODB
# 2020-05-26
# «The number of days for automatic binary log file removal.
# The default is 0, which means “no automatic removal.”
# Possible removals happen at startup and when the binary log is flushed».
; https://dev.mysql.com/doc/refman/5.7/en/server-system-variables.html#sysvar_expire_logs_days
expire_logs_days = 10
# 2020-05-26 It allows Magento to handle 2-letter search queries.
ft_min_word_len = 2
# 2020-05-26
# 1) https://dev.mysql.com/doc/refman/5.7/en/innodb-multiple-buffer-pools.html
# 2) «When the size of the buffer pool (`innodb_buffer_pool_size`) is greater than 1GB,
# setting innodb_buffer_pool_instances to a value greater than 1 can improve the scalability on a busy server.»
# https://dev.mysql.com/doc/refman/5.7/en/innodb-parameters.html#sysvar_innodb_buffer_pool_size
innodb_buffer_pool_instances = 2
# 2020-05-26 https://dev.mysql.com/doc/refman/5.7/en/innodb-parameters.html#sysvar_innodb_buffer_pool_size
# «The total size you specify is divided among all the buffer pools (`innodb_buffer_pool_instances`).»:
# https://dev.mysql.com/doc/refman/5.7/en/innodb-multiple-buffer-pools.html
innodb_buffer_pool_size = 16G
innodb_file_per_table=1
# 2020-05-26
# «With a setting of 2, logs are written after each transaction commit and flushed to disk once per second.
# Transactions for which logs have not been flushed can be lost in a crash.»
# https://dev.mysql.com/doc/refman/5.7/en/innodb-parameters.html#sysvar_innodb_flush_log_at_trx_commit
innodb_flush_log_at_trx_commit = 2
innodb_log_file_size = 256M
# 2020-05-26
key_buffer_size = 384M
# 2020-05-26
# The `log_error_verbosity` variable is not allowed by MariaDB (MariaDB will fail to start):
# https://mariadb.com/kb/en/system-variable-differences-between-mariadb-101-and-mysql-57
log_error=/mage2.pro/log/mariadb.log
# 2020-05-26
max_allowed_packet = 1024M
max_binlog_size = 100M
max_connections = 700
# 2020-05-26 https://dev.mysql.com/doc/refman/5.7/en/server-system-variables.html#sysvar_myisam_max_sort_file_size
myisam_max_sort_file_size = 100G
max_heap_table_size = 256M
max_user_connections = 250
myisam_sort_buffer_size = 32M
net_buffer_length = 16K
open_files_limit=11000
performance-schema=1
query_cache_limit = 0
query_cache_size = 0
query_cache_type = 0
read_buffer_size = 1M
read_rnd_buffer_size = 1M
skip-external-locking
sort_buffer_size = 1M
table_open_cache = 1024
thread_cache_size = 8
tmp_table_size = 256M
tmpdir = /var/lib/mysql/tmp
wait_timeout = 1800
